force-app/main/default/flows/defer_caseproceeding_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>defer_caseproceeding_flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>defer_caseproceeding_flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the ReferenceRecordId from the Service Catalog Request Extended Attribute Value record with the SvcCtlgItemAttrDeveloperName that matches CaseProceeding. Stores the ReferenceRecordId result in the CaseProceedingId variable.</description>
        <name>GetCaseProceedingId</name>
        <label>Get Case Proceeding ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExtendedStartDate</targetReference>
        </connector>
        <filters>
            <field>SvcCatalogRequestId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetServiceCatalogRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CaseProceeding</stringValue>
            </value>
        </filters>
        <object>SvcCatalogReqExtdAttrVal</object>
        <outputAssignments>
            <assignToReference>CaseProceedingId</assignToReference>
            <field>ReferenceRecordId__NotFound</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the DateValue from the Service Catalog Request Extended Attribute Value record with SvcCtlgItemAttrDeveloperName that matches ExtendedEndDate.  Stores the DateValue result in the ExtendedEndDate variable.</description>
        <name>GetExtendedEndDate</name>
        <label>Get Extended End Date</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseProceedingScheduleDates</targetReference>
        </connector>
        <filters>
            <field>SvcCatalogRequestId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetServiceCatalogRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExtendedEndDate</stringValue>
            </value>
        </filters>
        <object>SvcCatalogReqExtdAttrVal</object>
        <outputAssignments>
            <assignToReference>ExtendedEndDate</assignToReference>
            <field>DateValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the DateValue from the Service Catalog Request Extended Attribute Value record with SvcCtlgItemAttrDeveloperName that matches ExtendedStartDate. Stores the DateValue result in the ExtendedStartDate variable.</description>
        <name>GetExtendedStartDate</name>
        <label>Get Extended Start Date</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExtendedEndDate</targetReference>
        </connector>
        <filters>
            <field>SvcCatalogRequestId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetServiceCatalogRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExtendedStartDate</stringValue>
            </value>
        </filters>
        <object>SvcCatalogReqExtdAttrVal</object>
        <outputAssignments>
            <assignToReference>ExtendedStartDate</assignToReference>
            <field>DateValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the service catalog request record with a matching CaseId of the case that triggered the flow.</description>
        <name>GetServiceCatalogRequest</name>
        <label>Get Service Catalog Request</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseProceedingId</targetReference>
        </connector>
        <filters>
            <field>CaseId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SvcCatalogRequest</object>
    </recordLookups>
    <recordUpdates>
        <description>Updates the StartDateTime and EndDateTime fields in the case proceeding record with an ID that matches the CaseProceedingId.</description>
        <name>UpdateCaseProceedingScheduleDates</name>
        <label>Update Case Proceeding Schedule Dates</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseProceedingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>ExtendedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>ExtendedStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>CaseProceeding</object>
    </recordUpdates>
    <startElementReference>GetServiceCatalogRequest</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseProceedingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtendedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExtendedStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
